<!doctype html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
  <meta charset="utf-8" />
  <title>SafeGate</title>
  
  <link rel="stylesheet" href="/static/css/bootstrap4-business-tycoon.css" type="text/css">
  <base href="/"> 
</head>
<body>