<nav class="navbar navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="static/images/logo.png" width="30" height="30" alt="safegate logo">
      SafeGate
    </a>
  </div>
</nav>