<!-- Include Header -->
<% include ../../partials/head %>

<!-- Include Header -->
<% include ../../partials/nav %>

<div class="container">
  <div class="row">
    <div class="col">
    </div>
      <div class="col-6">
        <h1 class="text-center mb-4">Resident Login</h1>
        <form method="POST" action="/resident/login">
          <div class="form-row">
            <div class="form-group col">
              <label for="email">Email</label>
              <input name="email" type="email" class="form-control" id="email" placeholder="Email">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col">
              <label for="password">Password</label>
              <input name="password" type="password" class="form-control" id="password" placeholder="Password">
            </div>
          </div>
          <button type="submit" class="btn btn-dark btn-block">Sign Up</button>
        </form>
      </div>
    <div class="col">
  </div>
</div>

<!-- Include Footer -->
<% include ../../partials/footer %>