<!-- Include Header -->
<% include ../partials/head %>

<!-- Include Header -->
<% if (userExists) { %>
  <% include ../partials/navs/userNav %>
<% } else { %>
  <% include ../partials/navs/nav %>
<% } %>

  <div class="jumbotron bg-white text-center">
    <div class="container-fluid">
      <h1 class="display-3">SafeGate</h1>
      <p class="lead">Manage guest access for gated communities.</p>
      <p class="lead">
        <a class="btn btn-dark" href="/resident/signup" role="button">Sign up as Resident</a>
        <a class="btn btn-outline-dark" href="/guest/signup">Sign up as Guest</a>
      </p>
    </div>
  </div>

<!-- Include Footer -->
<% include ../partials/footer %>