<!doctype html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
  <meta charset="utf-8" />
  <title>SafeGate</title>
  
  <link rel="stylesheet" href="static/css/bootstrap4-business-tycoon.css">
</head>
<body>
  <div id="ht-tm-jumbotron">
    <div class="jumbotron text-center bg-dark text-white mb-0 radius-0 ht-tm-jumbotron">
      <div class="container">
        <div class="ht-tm-header">
          <h1 class="display-4 text-white">SafeGate</h1>
          <div class="lead mb-3">Manage guest access for gated communities.</div>
          <a class="btn btn-primary btn-lg my-2 mr-2 text-left btn-ht-dl-message">
            <span>Sign in as Resident</span>
          </a>

          <a class="btn btn-outline-light btn-hover-text-light btn-lg my-2 text-left">
            <span>Sign in as Guest</span>
          </a>
        </div>
      <div>
    </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
</html>