<!-- Include Header -->
<% include ../partials/head %>

  <div id="ht-tm-jumbotron">
    <div class="jumbotron text-center bg-dark text-white mb-0 radius-0 ht-tm-jumbotron">
      <div class="container">
        <div class="ht-tm-header">
          <h1 class="display-4 text-white">SafeGate</h1>
          <div class="lead mb-3">Manage guest access for gated communities.</div>
          <a class="btn btn-primary btn-lg my-2 mr-2 text-left btn-ht-dl-message">
            <span>Sign up as Resident</span>
          </a>

          <a class="btn btn-outline-light btn-hover-text-light btn-lg my-2 text-left">
            <span>Sign up as Guest</span>
          </a>
        </div>
      <div>
    </div>

<!-- Include Footer -->
<% include ../partials/footer %>