<!-- Include Header -->
<% include ../../partials/head %>

<!-- Include Header -->
<% include ../../partials/navs/guestNav %>

<div class="container">

  <% if (guestSignupMessage.length > 0) { %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= guestSignupMessage %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  <% } else %>

  <h1>Guest Dashboard</h1>
  <p><strong>Name:</strong> <%= guestFirstName + " " + guestLastName %></p>
  <p><strong>Email:</strong> <%= guestEmail %></p>
  
</div>


<!-- Include Footer -->
<% include ../../partials/footer %>